

body{
    background:lightblue
}

h1{
    text-align: center;
    max-width: 60%;
    height: 100%;
    margin: 20px auto;
    border:2px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.37);
    transition: 1.5s;
}

h1:hover{
    box-shadow: 4px 4px 4px 3px rgba(163, 33, 33, 0.74);
    transition: 1.5s;
}

#inputa {
    margin: 50px;
    padding: 60px;
    border-radius:10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.281);
    transition: 1.5s;
    
}

#inputa:hover{
    box-shadow: 6px 6px 5px 5px rgb(163, 33, 141);
    transition: 1.5s;
}

#res {
    border-radius: 10px;
    font-size: 35px;
    box-shadow: 6px 6px 5px 5px rgba(12, 3, 11, 0.37);
    transition: 1.5s;
    
}

#res:hover{
    box-shadow: 6px 6px 5px 5px rgba(73, 8, 148, 0.747);
    transition: 1.5s;
}